@{
    Layout = "_Layout";
}


<h1>Diverses informations à trouver!</h1>

<h2 class="mt-4">Liste de pokémons</h2>
<ul>
    <li><a href="/divers/info1">Afficher tous les pokémons</a></li>
    <li><a href="/divers/info2">Afficher les pokémons ayant comme type primaire l'eau</a></li>
    <li><a href="/divers/info3">Afficher les 5 premiers pokémons ayant comme type primaire l'eau</a></li>
    <li><a href="/divers/info4">Afficher les pokémons ayant comme type primaire l'électricité trié par puissance d'attaque</a></li>
    <li><a href="/divers/info5">Afficher les pokémons ayant la syllable "chu" dans leur nom</a></li>
    <li><a href="/divers/info6">Afficher les pokémons ayant comme type primaire le feu et qui ont une puissant d'attaque supérieur à 60</a></li>
    <li><a href="/divers/info7">Afficher les pokémons ayant comme type primaire le feu, l'eau ou l'herbe</a></li>
    <li><a href="/divers/info8">Afficher les pokémons ayant comme type primaire le feu, l'eau ou l'herbe trié par type primaire</a></li>
    <li><a href="/divers/info9">Afficher les pokémons ayant comme type primaire le feu, l'eau ou l'herbe trié par type primaire puis par leur nom</a></li>
</ul>


<h2 class="mt-4">Pokémon</h2>
<ul>
    <li><a href="/divers/info10">Afficher le pokémon ayant le numéro 55</a></li>
    <li><a href="/divers/info11">Afficher le pokémon le plus lent</a></li>
    <li><a href="/divers/info12">Afficher le pokémon le plus rapide</a></li>
    <li><a href="/divers/info13">Afficher le 3ème pokémon le plus rapide</a></li>
    <li><a href="/divers/info14">Afficher le dernier pokémon de type eau (ordonné par numéro de pokémon)</a></li>
</ul>


<h2 class="mt-4">Statistiques et autres</h2>
<ul>
    <li><a href="/divers/info15">Combien de pokémons ont une attaque supérieur à 40?</a></li>
    <li><a href="/divers/info16">Quelle est la moyenne d'attaque des pokémons?</a></li>
    <li><a href="/divers/info17">Quelle est la moyenne d'attaque des pokémons de type primaire feu?</a></li>
    <li><a href="/divers/info18">Afficher les informations sur la moyenne des attaques de pokémons de type feu, d'eau et d'herbe séparément (ViewModel nécessaire)</a></li>
</ul>
